/* styles.css or your CSS file */
.fade-in {
  opacity: 0;
  /* Start as invisible */
  animation: fadeIn 0.5s forwards;
  /* Animate to fully visible */
}

@keyframes fadeIn {
  to {
    opacity: 1;
    /* End at fully visible */
  }
}

.cost-comparison-guide {
  background-color: #28282b;
  /* Dark background color */
  padding: 50px 20px;
  /* Top and bottom padding, smaller side padding */
}

.guide-title {
  color: white;
  /* Title color */
  margin-bottom: 20px;
  /* Space below the title */
  font-size: 1.5rem;
  /* Reduced font size for title */
}

.guide-list {
  list-style-type: disc;
  /* Use disc for bullet points */
  padding-left: 20px;
  /* Left padding for the list */
  color: white;
  /* Text color */
  font-size: 0.9rem;
  /* Decrease font size for the list items */
}

.guide-list li {
  margin-bottom: 10px;
  /* Space between list items */
}

/*  */

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
    /* Stack image and text vertically */
    align-items: center;
    /* Center align items horizontally */
  }

  .d-flex img {
    margin-bottom: 10px;
    /* Add some space below the image */
  }
}

/* @media (max-width: 500px) {
  .places {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0px !important;
  }

} */